<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.ashoka.cordova.barcode" version="0.0.1" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>ASCDVBarcode</name>
    <js-module name="ASCDVBarcode" src="www/ASCDVBarcode.js">
        <clobbers target="cordova.plugins.ASCDVBarcode" />
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="ASCDVBarcode">
                <param name="ios-package" value="ASCDVBarcode" />
            </feature>
        </config-file>
        <source-file src="src/ios/ASCDVBarcode.m" />
    </platform>
</plugin>